body{width:90%;
background:#FFFFE0;
margin:auto;
font: 12px/14px arvo }


.logo{
background-size: contain;
background-position: center;
    width:100%;
    height:100%;
    clear:both;
}

.dotted {
	border-style: dotted;
	border-color: #EEE8AA;
	font: 20px arvo;
	text-align:center;
	padding: 10px;
}

.logo img {
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
color:black;
background:#FFDAB9;
border: 2px tomato;
padding:10px;
clear:both;
text-align:center;
font: 20px/22px arvo 
}

h3 {
    text-align:center;
    font: 16px arvo;
}

.text {
	line-height: 2 ;
	}


.primary-navigation {
    margin: 0 auto;
    display: block;
  
    padding: 20px 0 0 0;  
    text-align: center;
    font-size: 16px;

}

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}


a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 }
}

 ul li ul li a { transition: all 0.5s ease; }


.menu {
	text-align:center;
}


.socials{
	text-align:center;

}

.socials img{
	width:30px;
	text-align:center;
}

body {
      padding: 3%;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   * {
      box-sizing: border-box;
   }

  .container {
   	  display: grid;
   	  grid-template-columns: auto auto auto;
  		grid-gap: 10px;
  		padding: 10px;
}
   .column1, .column2, .column3, .column4, .column5, .column6 {
      color: white;
      padding: 20px;
      height: auto;
      width: 100%;
      text-align: center;
   }
   .column1 {
      background-color: tomato;
   
   }
   .column3 {
      background-color: teal;
     
   }
   .column2 {
      background-color: rgb(166, 71, 255);

   }

   .column4 {
      background-color: tomato;
   
   }

    .column5 {
      background-color: rgb(166, 71, 255);

   }

   .column6 {
      background-color: teal;
  }
  
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.email {list-style-type: none;
font-size: 12pt;
text-align: center;
}


.mail {
	margin: auto;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
width: 400px;
background : #EEE8AA;
border: 1px solid silver;
}
.mail h2 {
margin:auto;
padding: 40px;
border:solid silver;
}
input {
font-size: 12pt;
}
input:focus, textarea:focus{
background-color: lightyellow;
}
input submit {
font-size: 12pt;
}


@media screen and (max-width: 500px)
